
/* .project-container{
    max-width: 1700px; 
    height: 110vh;
background-color: rgb(228, 228, 228);

} */

.text-proyecto h2{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    margin: 5rem 0 5rem 0;
}
.cards-proyectos{
display: grid;
margin: 3rem 0 3rem 0;
justify-content:center

}
.redes{
    display: flex;
    justify-content: space-evenly;
    margin-top:1rem;
}
.redes i{
    font-size: 40px;
}
.cardf img{
    width: 50%;
    display: block;
    margin: auto;
}
.cardf h3{
  color: black  ;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

